body{
    background-color: rgb(0, 0, 0);
    color:rgb(240, 239, 239);
    font-family: 'Roboto', sans-serif;;
    margin:0;
    overflow-x: hidden;
 
}

*{
    box-sizing: border-box;
}

video{
    width:100%;
    height: auto;
    margin:0;
    padding:0;
}

img{
    width:100%;
    height: auto;
}


hr{
    width:90%;
    margin-top:2em;
    margin-bottom:3em;
    border-color: white;
}


.hr--styled{
    margin:3em auto;
    width:15%;
    border-color: white;
    @include tablet{
        margin: 2em auto;
    }
}


.corsair-logo-sticky{

    position: fixed;
    right:-30px;
    top:30%;
    z-index: 3;
    display: inline;
    transition: 1s;
    &:hover{
        right:-5px;
    }
    img{
        border-radius: 5px;
        width:70px;
        &:hover{
           
        }
    }
 
}



