body{
    background-color: rgb(0, 0, 0);
    color:rgb(240, 239, 239);
    font-family: 'Roboto', sans-serif;;
    margin:0;
    overflow-x: hidden;
 
}

*{
    box-sizing: border-box;
}

video{
    width:100%;
    height: auto;
    margin:0;
    padding:0;
}

img{
    width:100%;
    height: auto;
}


hr{
    width:90%;
    margin-top:5em;
    margin-bottom:3em;

}


