.buy__section--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    background: linear-gradient(rgba(3, 3, 3, 0.9), rgba(51, 3, 3, 0.7)), url('/build/images/nav-logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    @include tablet{
        grid-template-columns: 1fr;
        padding:2em;
    }


    .buy__column--1 {
        text-align: right;
       
        h1 {
            text-align: left;
            padding: 1.4em .2em;
            font-size: 4.2em;
            z-index: 1;
            width: 150px;
            position: absolute;
            top: 35px;
            font-family: 'Merriweather', serif;
            font-weight: lighter;
            text-shadow: 7px 5px 2px black;

           animation: rgbFontColor 5s infinite alternate;
           @include laptop{
            padding:1em 0 0 .2em;
            font-size:4em;
            top: 0px;
        }
           @include tablet{
            top: 35px;
            font-size: 2.5em;
        }
        }
        img {
            padding: 2em 3em;
            width: 340px;
            height: auto;
            @include tablet{
                width: 230px;
               
            }
            
        }
    }

    .buy__column--2 {
        
       h1{
        font-family: 'Roboto Thin';
        font-size: 3em;
        @include laptop{
            font-size: 2em;
            }
            @include tablet{
                font-size: 1.5em;
                padding:1em 0 0 0;
            }
       }
       p{

       }
    }
}
