.corsair__footer--container {
    height: 30%;
    display: grid;
    align-items: center;
    text-align: center;
    border-top: 1px solid white;
    padding: 2em;
    background-color: rgb(12, 12, 12);

    @include tablet {
        height: 20%;
    }

    .corsair__footer {
        i {
            color: white;
            cursor: pointer;
            margin: .3em;
            font-size: 4em;

            @include tablet {
                font-size: 2em;
            }

            &:hover {
                color: rgb(131, 131, 131);
            }
        }

        .corsair__footer--copyright {
            font-size: .8em;
        }
    }
}