.footer{
  color:white;
  width:100%;
  margin: auto;
  border-top: 1px solid red;
  padding:3em;

  

.footer__bottom{
        text-align: center;
        
}

.footer__address{
 padding: 1em 0;
}
  .footer__four-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: auto;

  }

  .footer__three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }




    .footer__content{
        padding:2em;

        .footer__heading{
            color:rgb(238, 44, 44);
            font-size: 1.2em;
            font-family: font("font4");
        }
        .footer__text{
            font-size: .8em;
            margin:.5em 0;
            font-family:font('font3');

            a{
                
                color:white;
                text-decoration: none;
                &:hover{
                    color:rgb(206, 204, 204);
                }
            }
        }

        .footer__text--one-line{
            font-family: font("font1");
            display:inline;
            margin:0 .8em;
        }
      
            .footer__image{
                display: inline;
                width:12%;
                margin:0;
                
            }
            .footer__brand-name{
                display: inline;
                text-align: center;
                font-size: 1.3em;
                text-transform: uppercase;
                font-weight: bold;
                font-family: 'Trajan Pro';
                margin-bottom: .7em;
            }


       

        .footer__icons{
            i{
                color: white;
                cursor: pointer;
                margin: .3em;
                font-size: 1.3em;
                &:hover{
                    color:rgb(182, 179, 179);
                }
            }
           
        }
    }
}

.hr__footer{
    width:100%;
    margin:2em auto 0 auto;
}

.brand__hr{
    width: 100%;
    border-width: 1px;
    margin:.7em auto;
}