.image__caption--container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:1em 5em;
    @include laptop{
        padding:1em 1em;
    }
    @include tablet{
        grid-template-columns: 1fr;
        text-align: center;
        padding:1em 3em;
    }
    
    
    .image__caption--image{
        img{
            width:60%;
            height:auto;
            @include laptop{
                margin:1em;
                width:90%;
            }
                @include tablet{
                    width:50%;
                }
        }
    }
    .image__caption--description{
        @include tablet{
            padding:0 4em;
            }
        @include laptop{
                padding:1em 1em;
            }
           
        .image__caption--heading{
            font-size: 1.3em;
            @include laptop{
                font-size:1em;
                padding:1.1em 0;
            }
            @include tablet{
                font-size:1em;
                }
        }
        .image__caption--information{
            font-size: .9em;
            line-height: 1.5em;
            @include laptop{
                font-size:.9em;
                }
                @include tablet{
                    font-size:.7em;
                    }
        }
    }
}
.image__caption--container-left{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:1em 5em;
    @include laptop{
        padding:1em 2em;
    }
    @include tablet{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .image__caption--image{
        @include tablet{
            grid-column: 1;
            grid-row: 1;
        }
        img{
            width:60%;
            height:auto;
            display:block;
            float:right;
            @include laptop{
                margin:1em;
                width:90%;
            }
            @include tablet{
                width:50%;
                float:none;
                margin: auto;
            }
              
        }
    }
    .image__caption--description{
        @include tablet{
            padding:0 4em;
            }
        .image__caption--heading{
            font-size: 1.3em;
            @include laptop{
                font-size:1em;
                padding:1.1em 0;
            }
            @include tablet{
                font-size:1em;
                }
        }
        .image__caption--information{
            font-size: .9em;
            line-height: 1.5em;
            @include laptop{
                font-size:.9em;
                }
                @include tablet{
                    font-size:.7em;
                    }
        }
    }
}