.section__main-heading {
    text-align: center;
    font-family: font("font3");
    font-size: 2.5em;
    padding: 1em 0 .3em 0;
    margin: 1em auto;
    text-transform: uppercase;
    border-bottom: 1px solid red;
    width:70%;
    font-style: italic;
    max-width: 1200px;
  
    @include laptop{
        font-size:2em;
    }
    @include tablet{
        width:90%;
        font-size:1.5em;
        padding: 2em .5em 1em .5em;
        margin: 1em auto;
    }
    @include mobile{
        font-size:1.2em;
    }
}



.corsair__section--container {
    text-align: center;
    width:80%;
    margin: auto;
    max-width: 1400px;
    margin: auto;

    @include laptop{
        height: 60%;
        }
        @include tablet{
            font-size: .8em;
            }
    .corsair__section--media {
        img {
            width: 350px;
            height: auto;
        }
        iframe{
            width: 50%;
            height:350px;
            @include laptop{
                width: 90%;
               
               }
           @include tablet{
            width: 90%;
            height:250px;
           }
        }
    }
    .corsair__section--description {
        padding: 2em 3em;
        @include tablet{
            padding: 2em 1.5em;
        }
        .corsair__section--heading {
            font-family: font("font3");
            font-size: 2.5em;
            @include laptop{
                font-size: 2em;
                }
                @include tablet{
                    font-size: 1.5em;
                }
        }

        .corsair__section--information {
            font-family: font("font3");
            font-size: .9em;
            @include laptop{
                font-size: .8em;
                line-height:1.5em;
                }
        }
    }
}

.twocolumn__section--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items:center;
    height:100%;
   

   
    @include laptop{
        height:40vh;
        }
        @include tablet{
        grid-template-columns: 1fr;
            }
        .column__image {
            img {
                width: 80%;
                height: auto;
                @include laptop{
                    width: 450px;
                    }
                    @include tablet{
                        width: 250px;
                        margin-top:3em;
                            }
                   
            }
        }

        .column__description {
            padding: 0 2em;
            .column__heading {
                @include laptop{
                    font-size:1.2em;
                    }
                    @include tablet{
                        padding: 0 0em;
                        }
            }
            .column__information {
                line-height: 2em;
                font-size: .8em;
                @include laptop{
                    font-size:.9em;
                    }
                    @include tablet{
                        font-size:.8em;
                        }
                        
                
            }
        }
}




.threecolumn__section--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    padding: 0em 2em;
    max-width: 1200px;
    margin: auto;
   

    @include laptop{
        grid-template-columns: 1fr;
        padding: 1em 1em;
        }
        @include tablet{
            grid-template-columns: 1fr;
        }

    .column {
        padding: 2em;
        .column__image {
            img {
                width: 150px;
                height: auto;
                @include tablet{
                    width: 120px;
                }
                @include mobile{
                    width: 100px;
                }
            }
        }

        .column__description {
            @include laptop{
                padding:0em 3em;
            }
            @include tablet{
               font-size: .8em;
               padding:0em 0em;
                }
            .column__heading {
                @include mobile{
                    font-size: 1.5em;
                }
            }

            .column__information {
                line-height: 2em;
                font-size: .8em;
                @include laptop{
                    font-size:1em;
                    }
                    @include tablet{
                        font-size:.9em;
                    }
                    @include mobile{
                        font-size: .8em;
                    }
                    
            }
        }
    }
}


//Promo Section
.promo{
    max-width: 1400px;
    margin: auto;
    .promo__heading{
        text-align: center;
        font-family: font("font3");
        padding: 1em 0 .3em 0;
        margin: 1em auto;
        text-transform: uppercase;
        border-bottom: 1px solid red;
        width:90%;
        font-size:2.2em;
        font-style: italic;
        @include tablet{
            width:90%;
            font-size:1.5em;
            padding: 2em .5em 2em .5em;
            margin: 1em auto;
        }
    }

    .promo__paragraph{
        text-align: center;
        margin:3em;
        @include tablet{
            font-size: .8em;
        }
        @include mobile{
            font-size: .8em;
        }
        .promo__logo{
            width:100px;
            margin:0 1em;
            @include tablet{
                width:70px;
            }
            @include mobile{
                width:50px;
            }
            @include mobile{
                width:40px;
            }
            &:hover{
                box-shadow: 2px 2px 10px white;
            }
        }

    }
   
}