.collapse__button{
    padding:1em;
    font-size: 2em;
    display: block;
    margin: 1em auto;
    border: none;
    text-transform: uppercase;
    border-bottom:1px solid red;
    border-radius: 5px;
    background: black;
    color:white;
    transition: .5s;
    width:70%;
   
    @include laptop{
        font-size: 1.7em;
    }
    @include tablet{
        font-size: 1.1em;
    }
    &:hover{

        color:red;
    }
}


.corsair__table{
    text-align: center;
    margin-bottom: 3em;
    padding:1em;
    font-family: font("font3");
    width:80%;
    margin:auto;
    border:1px solid white;
    max-width: 1400px;
    margin: auto;
    @include tablet{
        width:90%;
    }
    .corsair__table--caption{
        font-size: 3em;
        @include tablet{
            font-size:1em;
        }
    }
  

  
   
    td{
        padding:.4em 2em;
        font-size: .7em;
        @include tablet{
            font-size:.7em;
        }
    }
    td:nth-of-type(2){
        font-size: .6em;
    }
    tr:nth-child(odd){
        background-color: $colorDark2;
        padding:1em;
    }
    .table__detail{
        font-weight: bold;

      
    }
}