.corsair__video--container{
   position:relative;
   max-width: 1400px;
   margin: auto;

    .corsair__video--title{
        text-align: center;
        font-family: font("font3");
        font-weight:300;
        color:rgb(221, 220, 220);
        @include tablet{
            font-size:1em;
            margin:1em;
        }
    }
    .corsair__video{
        opacity:0.3;
    }

    .corsair__video--link{
   
    
        .corsair__video--button{
            font-family: font("font3");
            font-size: .8em;
            position:absolute;
            cursor: pointer;
            top:40%;
            left:50%;
            transform: translate(-50%,-50%);
            padding:1em 3.5em;
            border:2px solid $colorLight2;
            border-radius: 5px;
            background:none;
            color:white;
            z-index: 1;
            transition: .5s;
            &:hover{
                background-color: rgb(224, 218, 218);
                color:black;
                font-weight: bold;
            }
            @include tablet{
                font-size: .6em;
                top:40%;
                left:50%;
            }
        }

    }
   
    .corsair__video--description{
        font-family: font("font3");
        font-weight: lighter;
        padding:2em 5em;
        line-height: 1.5em;
        letter-spacing: 0em;
        text-align: center;
        font-size: 1em;
        background-color: $colorDark1;
        @include tablet{
            font-size: .7em;
        }
    
    }
}