//Color Variables
$colorDark1: #400600;
$colorDark2: #800D00;
$colorMid:   #BF1300;
$colorLight2:#E61700;
$colorLight1:#FF1C01;



// BREAKPOINTS
$breakpoint-desktop:1200px;
$breakpoint-laptop:950px;
$breakpoint-tablet:750px;
$breakpoint-mobile:400px;



